@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="images/aduze.png" alt="Sample Photo" />
    <img src="images/bduze.png" alt="Sample Photo" />
    <img src="images/cduze.png" alt="Sample Photo" />
    <img src="images/dduze.png" alt="Sample Photo" />
    <img src="images/eduze.png" alt="Sample Photo" />
    <img src="images/fduze.png" alt="Sample Photo" />
    <img src="images/gduze.png" alt="Sample Photo" />
    <img src="images/hduze.png" alt="Sample Photo" />
    <img src="images/iduze.png" alt="Sample Photo" />
    <img src="images/jduze.png" alt="Sample Photo" />
    <img src="images/kduze.png" alt="Sample Photo" />
    <img src="images/lduze.png" alt="Sample Photo" />
    <img src="images/mduze.png" alt="Sample Photo" />
    <img src="images/nduze.png" alt="Sample Photo" />
    <img src="images/oduze.png" alt="Sample Photo" />
    <img src="images/pduze.png" alt="Sample Photo" />
    <img src="images/rduze.png" alt="Sample Photo" />
    <img src="images/sduze.png" alt="Sample Photo" />
    <img src="images/tduze.png" alt="Sample Photo" />
    <img src="images/uduze.png" alt="Sample Photo" />
    <img src="images/wduze.png" alt="Sample Photo" />
    <img src="images/yduze.png" alt="Sample Photo" />
    <img src="images/zduze.png" alt="Sample Photo" />
</div>
